body {
  padding: 20px;
  background-color: #D94A3C;
}

.app-name {
  padding-top: 20px;
  text-align: center;
  font-family: 'Syncopate', sans-serif;
  font-weight: 900;
  font-size: 70px;
  /*color: #aac9e5;*/
  color: #79251a;
}

h5 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #79251a;
}

.button-start {
  color: #fbeceb;
  background: #97b3cc;
  border: 1px solid #97b3cc;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  padding: 12px 12px;
  font-weight: 900;
  display: inline-block;
  text-decoration: none !important;
  text-align: center;
  min-width: 75px;
  min-height: 50px;
}

.button-start:focus {
  outline: none;
}

.button-stop {
  color: #fbeceb;
  /*background: #76b0b2;*/
  background: #ea9e98;
  border: 1px solid #ea9e98;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  padding: 12px 12px;
  text-transform: uppercase;
  font-weight: bolder;
  display: inline-block;
  text-decoration: none !important;
  text-align: center;
  min-width: 75px;
  min-height: 50px;
}

.button-stop:focus {
  outline: none;
}

.timer {
  padding-top: 50px;
  text-align: center;
}

.countdown {
  color: #fbeceb;
  font-family: 'Raleway', sans-serif;
  font-size: 70px;
  font-weight: 900;
  padding-top: 50px;
  padding-bottom: 100px;
}

.scope-msg {
  color: #fbeceb;
  font-family: 'Syncopate', sans-serif;
  text-transform: uppercase;
  font-size: 25px;
}

/*
font-family: 'Raleway', sans-serif;
font-family: 'Syncopate', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
*/
