body {
  padding: 1.5em;
  background-color: #D94A3C;
}

#app-name {
  padding-top: .5em;
  text-align: center;
  font-family: 'Syncopate', sans-serif;
  font-weight: 900;
  font-size: 5em;
  color: #79251a;
}

#tagline {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #79251a;
}

/* side tasks */

aside {
  float: left;
}

.side-tasks {
  float: left;
  padding-right: 1em;
}

#list-name {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  text-align: left;
  color: #79251a;
  text-transform: uppercase;
}

#task-input {
  border: none;
  background: #fbeceb;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding: .5em 1em;
  font-weight: normal;
  margin-right: .3em;
  display: inline-block;
  min-height: 1.5em;
}

#task-input:focus {
  outline: none;
}

#add-button {
  color: #fbeceb;
  background: #79251a;
  border: 1px solid #79251a;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding: .5em 1em;
  display: inline-block;
  text-decoration: none !important;
  text-align: center;
  min-width: 3em;
  min-height: 2.5em;
}

table {
  padding: 1em .5em 1em 1.5em;
  font-family: 'Raleway', sans-serif;
  color: #79251a;
  max-width: 20em;
}

td {
  padding-right: .5em;
  font-size: .9em;
}

.fa-times:hover {
  cursor: pointer;
}

/* timer */

.timer {
  padding-top: 4em;
  text-align: center;
  overflow: auto;
  width: 60%;
  border-left: 1px dashed #79251a;
}

#scope-msg {
  color: #fbeceb;
  font-family: 'Syncopate', sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
}

.countdown {
  color: #fbeceb;
  font-family: 'Raleway', sans-serif;
  font-size: 4.5em;
  font-weight: 900;
  padding-top: 1em;
  padding-bottom: 1em;
}

.button-start {
  color: #fbeceb;
  background: #97b3cc;
  border: 1px solid #97b3cc;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  padding: .8em .8em;
  font-weight: 900;
  display: inline-block;
  text-decoration: none !important;
  text-align: center;
  min-width: 5em;
  min-height: 3em;
}

.button-start:focus {
  outline: none;
}

.button-stop {
  color: #fbeceb;
  background: #ea9e98;
  border: 1px solid #ea9e98;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  padding: .8em .8em;
  font-weight: bolder;
  display: inline-block;
  text-decoration: none !important;
  text-align: center;
  min-width: 5em;
  min-height: 3em;
}

.button-stop:focus {
  outline: none;
}


/*
font-family: 'Raleway', sans-serif;
font-family: 'Syncopate', sans-serif;
*/
